<h1>Messages</h1>
<br>
<div class="chatrooms">
  <% @chatrooms.each do |chatroom| %>
    <%= link_to chatroom_path(chatroom) do %>
      <div class="chatroom-card">
        <%= cl_image_tag chatroom.chatroom_buddy(current_user).photos.first.key, class: "chatroom-card-avatar" %>        <div class="chatroom-card-content">
          <p class="chatroom-card-content-name"><%= chatroom.chatroom_buddy(current_user).name %></p>
          <p class="chatroom-card-content-message"><%= chatroom.messages.last.content.truncate(25) %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
