<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
>
  <h1>#<%= @chatroom.name %></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <div class="row col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <% if @chatroom.messages.any? %>
          <div class="panel-body" id="messages">
            <% @chatroom.messages.each do |message| %>
              <%= render partial: 'messages/message', locals: {message: message}%>
            <% end %>
          </div>
        <%else%>
          <div class="panel-body hidden" id="messages">
          </div>
        <%end%>
      </div>
      <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
    </div>
  </div>
</div>
