<div class="purple">
  <h1>Discover</h1>

  <p> In each person, a musician is hiding!</p>

  <div class="swipe-card" style="background-image: url(https://alchetron.com/cdn/ringo-singer-37fe0034-effb-4596-a28c-b776a79f67c-resize-750.jpeg)">

  </div>

  <a href="" class="button-link">
    <i class="fa-solid fa-heart"></i>
    Add on my list
  </a>

  <a href="" class="button-link">
    <i class="fa-solid fa-face-confused"></i>
    Add on my list
  </a>

  <a href="" class="button-link">
    <i class="fa-solid fa-heart"></i>
    Add on my list
  </a>
</div>
