<div class="purple">
  <h1>Discover</h1>

  <p> In each person, a musician is hiding!</p>

  <div class="swipe-card" style="background-image: url(https://alchetron.com/cdn/ringo-singer-37fe0034-effb-4596-a28c-b776a79f67c-resize-750.jpeg)">

  </div>

  <a href="" class="button-link">
    <i class="fa-solid fa-heart"></i>
    Add on my list
  </a>

  <a href="" class="button-link">
    <i class="fa-solid fa-face-confused"></i>
    Add on my list
  </a>

  <a href="" class="button-link">
    <i class="fa-solid fa-heart"></i>
    Add on my list
  </a>
</div>

<div class="tinder">
  <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>

  <div class="tinder--cards">
      <div class="tinder--card">
        <p><%= @instrument %></p>
      </div>

    <div class="tinder--card">
      <img src="https://placeimg.com/600/300/animals">
      <h3>Demo card 2</h3>
      <p>This is a demo for Tinder like swipe cards</p>
    </div>
    <div class="tinder--card">
      <img src="https://placeimg.com/600/300/nature">
      <h3>Demo card 3</h3>
      <p>This is a demo for Tinder like swipe cards</p>
    </div>
    <div class="tinder--card">
      <img src="https://placeimg.com/600/300/tech">
      <h3>Demo card 4</h3>
      <p>This is a demo for Tinder like swipe cards</p>
    </div>
    <div class="tinder--card">
      <img src="https://placeimg.com/600/300/arch">
      <h3>Demo card 5</h3>
      <p>This is a demo for Tinder like swipe cards</p>
    </div>
  </div>

  <div class="tinder--buttons">
    <button id="nope"><i class="fa fa-remove"></i></button>
    <button id="love"><i class="fa fa-heart"></i></button>
  </div>
</div>
