<% @user_songs.each do |song| %>
<h1> <%= song.title %></h1>
<h2>Category: <%= song.category %></h2>
<audio controls>
  <source src="<%= rails_blob_url(song.url) %>" type="<%= song.url.content_type %>"/>
</audio>
<% end %>

<p>Would you like to add a new song?</p>
