<nav class="navbar-bb fixed-bottom">
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fa-solid fa-earth-americas"></i></a>
      <a href="#"><i class="fa-regular fa-heart"></i></a>
      <a href="/users"><i class="fa-solid fa-compact-disc"></i></a>
      <a href="/chatrooms"><i class="fa-regular fa-comment"></i></a>
      <a href="#"><i class="fa-solid fa-sliders"></i></a>
    </div>
</nav>
