<nav class="navbar-bb fixed-bottom">
  <div class="footer">
    <div class="footer-links">
      <a href="/users/<%=current_user.id%>/edit"><i class="fa-solid fa-user"></i></a>
      <a href="/users/<%=current_user.id%>/favorited_users"><i class="fa-regular fa-heart"></i></a>
      <a href="/users"><i class="fa-solid fa-compact-disc"></i></a>
      <a href="/chatrooms"><i class="fa-regular fa-comment"></i></a>
      <a href="/users/<%=current_user.id%>/user_songs"><i class="fa-solid fa-music"></i></i></a>
    </div>
</nav>
