audio {
  display: block;
  margin: -8px auto;
  width: -webkit-fill-available;
  // background-color: #1e2f3f;
  border-radius: 0 0 30px 30px;
}

.audio-show-player {
  margin-top: 10px;
}

audio::-webkit-media-controls-panel {
  background-color: #F2F5FE;
}

audio::-webkit-media-controls-current-time-display {
  display: none;
}

audio::-webkit-media-controls-time-remaining-display {
  display: none;
}

audio::-webkit-media-controls-seek-back-button {
  display: none;
}

audio::-webkit-media-controls-seek-forward-button {
  display: none;
}
