// importé de bootstrap : https://getbootstrap.com/docs/5.2/components/card/#kitchen-sink

.card {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background-color: rgba(255, 255, 255, 0.618);
}

.card-body {
  background-color: rgba(255, 255, 255, 0.618);
  justify-content: space-between;
  border-radius: 8px;
}

.list-group-item {
  background-color: rgba(255, 255, 255, 0.618);
}

.love-hate-button {
  background-color: rgba(255, 255, 255, 0.787);
  width: 80px;
  height: 80px;
  border-radius: 50%;

  a {
    .fa-heart {
      color: rgba(180, 57, 57, 0.86);
    }

    .fa-xmark {
      color: rgba(62, 62, 193, 0.777);
    }

    i {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      font-size: 56px;
      text-decoration: none;
      padding-top: 18%;
    }
  }
}
