.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 56px;
  width: 100%;
  background-image: linear-gradient(to bottom, #000000c7 0%, #000000ed 100%);
}
.footer-links a {
  color: whitesmoke;
  opacity: 0.6;
  text-decoration: none;
  font-size: xx-large;
  padding: 0px 10px;
  margin: 6px;
}
.footer-links a:hover {
  opacity: 1;
}
