.sender-style, .receiver-style {
  width: 70%;
  max-width: 400px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  display: flex;
  justify-content: end;
  text-align: end;
  p {
    background-color: rgba(106, 130, 251, 0.5);
    border-radius: 8px;
    width: fit-content;
    padding: 6px 10px;
    float: right;
  }
}

.receiver-style p {
  background-color: rgba(184, 155, 255, 0.5);
  border-radius: 8px;
  width: fit-content;
  padding: 6px 10px;
}

.light-time {
  color: #8e86a2;
}
