// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show_user";
@import "pages/onboarding";
@import "pages/new_song";

.homepage-background {
  background: #7618FD;
  background: linear-gradient(228deg, #140c1e, #2d1d4d);
  background-attachment: fixed;
}

.favorited-background {
  background: #7618FD;
  background-attachment: fixed;
  background-image: radial-gradient(circle at 4.55% 104.17%, #ff6464 0%, #e5346d 100%);
}

.index-background {
  background: #7618FD;
  background-attachment: fixed;
  background-image: linear-gradient(222deg, #4854e6 0%, #e5b2ca 160%);
}

.chatroom-background {
  background: #7618FD;
  background-attachment: fixed;
  background-image: radial-gradient(circle at 4.55% 104.17%, #9065c5 0, #a138a8 100%);
}

.show-background {
  background: #7618FD;
  background-attachment: fixed;
  background-image: linear-gradient(30deg, #f6d365 0%, #fda085 100%);
}

.edit-background {
  background: #7618FD;
  background-attachment: fixed;
  background-image: linear-gradient(200deg, #7c49bc, #6547dc);
}

.song-background {
  background: #7618FD;
  background-attachment: fixed;
  background-image: radial-gradient(circle at -11.24% 85.36%, #6cd8b4 0%, #429fa4 100%);
}

.onboarding-background {
  background: #7618FD;
  background-attachment: fixed;
  background-image: radial-gradient(circle at -11.24% 85.36%, #ffdebe 0%, #ffbbcb 100%);
}

a {
  text-decoration: none !important;
}

h1 {
  font-family: $headers-font;
  font-size: 3em;
  font-weight: 600;
}

h2 {
  font-family: $headers-font;
  font-size: 1.5em;
  font-weight: bold;
}

body {
  background: #7618FD;
  background-image: linear-gradient(200deg, #7c49bc, #6547dc);
  background-attachment: fixed;
}

.my-song-title-page {
  color: #21716f;
}

.my-fav-title-page {
  color: #b60045;
}

.my-chat-title-page {
  color: #590070;
}

.new-song-title-page {
  color: #3c0f7c;
  font-size: 2.5em;
}

.log-in-title-page {
  color: #c1abe3;
}

.add-song-btn {
  border-radius: 20px;
  padding: 4px 20px;
  font-size: 1.35em;
  background: #4ba99e;
  border: 1.5px solid #ffffff;
  margin: 0px;
  display: block;
  color: white;
  font-weight: 600;
  box-shadow: 0px 0px 10px 0px #00000060;
  text-align: center;
}

.log-in-input {
  border-radius: 37px;
  padding: 10px 16px;
  font-size: 1em;
  margin-bottom: 39px;
}

.log-in-label {
  color: white;
  font-size: 1.25em;
  padding-left: 16px;
}

.log-in-remember {
  color: white;
  font-size: 1.1em;
  padding-left: 20px;
  margin-top: -10px;
}

.log-in-forgot-pswd {
  color: white;
  padding-top: -20px !important;
  position: relative;
  top: -35px;
  left: 15px;
  font-style: italic;
  opacity: 0.7;
}

.never-use-label {
  color: white;
  opacity: 0.7;
  text-align: center;
  margin-top: 100px;
}
