// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}

.container {
  padding-left: 11%;
  padding-right: 11%;
}

a {
  text-decoration: none !important;
}
