// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/show_user";

.homepage-background {
  background: #7618FD;
  background: linear-gradient(228deg, #140c1e, #2d1d4d);
  background-attachment: fixed;
}

.favorited-background {
  background: #7618FD;
  background-attachment: fixed;
  background-image: radial-gradient(circle at 4.55% 104.17%, #f94646 0%, #cf004a 100%);
}

.index-background {
  background: #7618FD;
  background-attachment: fixed;
  background-image: linear-gradient(222deg, #4854e6 0%, #e5b2ca 160%);
}

.chatroom-background {
  background: #7618FD;
  background-attachment: fixed;
  background-image: radial-gradient(circle at 4.55% 104.17%, #935ed5 0, #802895 100%);
}

.show-background {
  background: #7618FD;
  background-attachment: fixed;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.edit-background {
  background: #7618FD;
  background-attachment: fixed;
  background-image: linear-gradient(200deg, #7c49bc, #6547dc);
}

.song-background {
  background: #7618FD;
  background-attachment: fixed;
  background-image: radial-gradient(circle at -11.24% 85.36%, #6cd8b4 0%, #429fa4 100%);
}

a {
  text-decoration: none !important;
}

audio {
  width: 100%;
  height: 64px;
}
